<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzo2o.customer.mapper.WorkerCertificationAuditMapper">
    <select id="queryWorkerCertificationAuditList" resultType="com.jzo2o.customer.model.domain.WorkerCertificationAudit"
    parameterType="com.jzo2o.customer.model.dto.request.WorkerCertificationAuditPageQueryReqDTO">
        SELECT *
        FROM worker_certification_audit
        <where>
            <!-- 姓名模糊查询（第一个条件不加AND） -->
            <if test="params.name != null and params.name != ''">
                name LIKE CONCAT('%', #{params.name}, '%')
            </if>

            <!-- 身份证号精确查询 -->
            <if test="params.idCardNo != null and params.idCardNo != ''">
                AND id_card_no = #{params.idCardNo}
            </if>

            <!-- 审核状态 -->
            <if test="params.auditStatus != null">
                AND audit_status = #{params.auditStatus}
            </if>

            <!-- 认证状态 -->
            <if test="params.certificationStatus != null">
                AND certification_status = #{params.certificationStatus}
            </if>
        </where>

    </select>
</mapper>
